@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

/* 시스템상 폰트 적용 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.6rem;
  --font-size-5: 2rem;

  --color-primary: black;
  --color-secondary: #656565dd;
  --color-tertiary: #cbcbcbdd;
  --point-primary: #ea7908;
  --point-secondary: #fff;
}